body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url(./Assets/Images/cursor.png),pointer; */
}

::-webkit-scrollbar {
  width: 12px;
 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient( transparent,#30ff00);
  border-radius: 6px;

}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top,#30ff00,#03e9f4);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.507);
  box-shadow:inset 0 0 10px #000000;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



