.orderWrapper {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-width: 100%;
   
}


.nameWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.nameWrapper img {
    width: 70px;
    border-radius: 10px;
    margin: 5px;
}

.priceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.priceQuantityWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.quantityWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.name {
    color: white;
    text-shadow: 0 0 2px black;
    text-align: center;
}
.price {
    color: white;
    text-align: center;
}
.priceQuantity {
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 1.1em;
    text-align: center;
}

.currency {
    color: white;
    text-align: center;
    margin-left: 3px;
    font-size: 12px;
    text-shadow: 0 0 1px black;
}


.minusWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: black;
    border-radius: 50%;
  }
  .minus {
    color: yellow;
    font-size: 20px;
    cursor: pointer;
}
.plusWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: black;
    border-radius: 50%;
  }

  .plus {
    color: rgb(0, 255, 42);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.closeOrder {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 52, 52);
    font-size: 20px;
    padding: 3px;
}
