.wrapper {
    display:flex;
    width: 220px;
    align-items: center;
    justify-items:start;
    background-size: cover;
    margin-right: 50px;

}

.link {
    display: flex;
    align-items: center;
    text-decoration:none;
    cursor: pointer;
    width: 270px;
}

.paragraphWrapper img {
     max-width: 80px;
}



@media screen and (max-width: 1050px){

    .logo {
        height: 55px;
    }
    .paragraph {
        font-size: 23px;
    }
 
}

@media screen and (max-width: 960px){

    .logo {
        height: 60px;
    }
    .paragraph {
        font-size: 35px;
    }
 
}
@media screen and (max-width: 590px){

    .logo {
        height: 55px;
    }
    .paragraph {
        font-size: 26px;
    }
 
}

@media screen and (max-width: 480px){

    .logo {
        height: 40px;
        margin-left: 20px;
        margin-right: 7px;
    }
    .paragraph {
        font-size: 20px;
    }
 
}

@media screen and (max-width: 430px){

    .logo {
        height: 35px;
        margin-left: 15px;
        margin-right: 6px;
    }
    .paragraph {
        font-size: 18px;
    }
    .wrapper {
        margin-right: 5px;
    }
 
}

